NEXT_PUBLIC_GITHUB_PROFILE="https://github.com/Copystrike"
NEXT_PUBLIC_TWITTER_PROFILE="https://twitter.com/Nick_vn"
NEXT_PUBLIC_LINKEDIN_PROFILE="https://www.linkedin.com/in/copystrike"
NEXT_PUBLIC_EMAIL_ADDRESS="verbraeckennick@gmail.com"